* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#OuterBoardDiv {
    position: relative;
    width: 100%;
    max-width: 500px;

    background-color: purple;
}

#BoardTable {
    width: 100%;
    padding: 1em;
    margin: 1em 0;
}

#BoardTable td
{
    border: 1px solid black;
    width: 12.5%;
    position: relative;
}

#BoardTable td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
#BoardTable td .cellContent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.PieceImg
{
    width: 100%;
}

.evenCell
{
    background-color: green;
}

.oddCell
{
    background-color: #d1d09b;
}

.cellSelected
{
    border: 2px solid red;
}

.cellPossible
{
    border: 2px dotted red;
}

#WhitePromotionDiv
{
    display: none;
}

#BlackPromotionDiv
{
    display: none;
}

#WhitePromotionDiv.selecting
{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
    top: 10px;
}

#BlackPromotionDiv.selecting
{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
    bottom: 10px;
}

#PromotionInnerDiv
{
    display: flex;
    justify-content: center;
    background-color: #404040;
    width: 60%;
}

#PromotionInnerDiv img
{
    width: 25%;
}

#PromotionInnerDiv img:hover
{
    border: 2px red solid;
}
