<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Side Projects</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/PlayFifteenPuzzle" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 15 Puzzle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/PlayTicTacToe" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> TicTacToe
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/MyLocalWeather" Match="NavLinkMatch.All">
                <span class="oi oi-rain" aria-hidden="true"></span> Weather
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
