#OuterDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh
}

/* This height is required for iPhone but it seems to also be that height that is used for Mac as well. Need a different query*/
@supports (-webkit-touch-callout: none) {
    #OuterDiv {
        height: 94.5vh;
    }
}

#BoardDiv
{
    height: 90%;

    padding: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


#BoardTable
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    background-color: black;

    margin: auto;
    width: 100%;
    aspect-ratio: 1/1;
}

@media (orientation: landscape)
{
    #BoardTable
    {
        width: unset;
        height: 100%;
    }
}

.BoardSquare {
    background-color: white;
}

.WinningMove {
    background-color: lightgreen;
}

.PlayedMove {
    width: 100%;
}

.catGameCard
{
    background-color: LightSkyblue;
}


#AllButtonDiv {
    height: 10%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ButtonDiv {
    position: relative;
}

#NewButtonDiv {
    position: absolute;
    bottom: 30%;
    left: 10px;
}

#MiddleButtonDiv {
}

#UndoButtonDiv {
    position: absolute;
    bottom: 30%;
    right: 10px;
}

