.numberCard {
    width: 80px;
    height: 80px;
}

.number {
    margin: auto;
    font-size: x-large;
}

.numberRedCard {
    background-color: red;
}

.numberZero {
    background-color: black;
}
